<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}{{ title }}{% endblock %}
    </title>

    <!-- Favicons -->
    <!--    <link rel="icon" href="/static/favicon.svg" type="image/svg+xml">-->

    <!-- HTMX -->
    <script>
      {% include "node_modules/htmx.org/dist/htmx.min.js" %}
    </script>

    <!-- Tailwind -->
    <style>
        {% include "styles/tailwind.css" %}
    </style>

    {% block head %}{% endblock %}
</head>
<body class="bg-white text-zinc-900 dark:bg-zinc-950 dark:text-zinc-100">
{% block content %}<p>Placeholder content</p>{% endblock %}
</body>
</html>